.ui-body-c, .ui-btn-inner, #textinput-detail, .ui-bar-a, .ui-title, .ui-slider-label {
    font-family: 'Kanit', sans-serif;
}
  
#body-results{
    overflow: auto;
}

/* .ui-bar-a
{
    background: #009a42;
} */

#btn-search, #btn-submit, #btn-logout{
    background: #154c91;
    border: none;
    color: #fff;
}

/* .ui-content{
    margin: 50px 0 0 0;
} */

#btn-logout{
    margin-top: 8px;
}

